@{
    ViewData["Title"] = "Login Page";
}
<div class="text-center">
    <div class="container mt-5">
    //Verifiacción de datos correctos
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger text-center">
                @TempData["Error"]
            </div>
        }
    //
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow-lg p-4">
                    <h2 class="text-center mb-4">Login</h2>
                    <form method="post" asp-action="Login" asp-controller="Login">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" name="Email" class="form-control" value="miad3kyaa@gmail.com" required />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="Password" class="form-control" value="123456" required />
                        </div>
                        <button type="submit" class="btn btn-custom-1 btn-lg">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url('https://www.pixelstalk.net/wp-content/uploads/images6/Cute-Dark-Wallpaper-Anime-620x620.jpg'); 
        background-size: cover;
        background-position: center; 
    }
    .container {
        background-color: rgba(255, 255, 255, 0.9); 
        padding: 20px;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
    .btn-lg {
        padding: 10px 20px;
        font-size: 1.1rem;
    }
    .card-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .card-text {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    .text-muted {
        color: #6c757d !important;
    }
    .shadow-lg {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .btn-custom-1 {
        background-color: #635a5a;
        border-color: #635a5a;
        color: #ffffff;
    }
        .btn-custom-1:hover {
            background-color: #635a5a;
            border-color: #635a5a;
        }   
</style>
